[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
freesurfer-surface = {editable = true, path = "."}

# python3.5 compatibility
# https://github.com/numpy/numpy/commit/fbcb58ca2c17217f5dc85cb669ea651b7799b60c#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7R30
numpy = "<1.19"

[dev-packages]
pylint = ">=2.3.0"
pylint-import-requirements = "*"
pytest = "*"
pytest-cov = "*"
"autopep8" = "<2"

# python3.5 compatibility
isort = "<5"
# workaround https://github.com/pytest-dev/pytest/issues/3953
pathlib2 = {version = "*", markers="python_version < '3.6'"}
# https://github.com/jaraco/zipp/commit/05a3c52b4d41690e0471a2e283cffb500dc0329a
zipp = "<2"

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
